{
  "presets": [
		[
			"@babel/preset-env",
			{
				"forceAllTransforms": true,
				"targets": {
					"esmodules" : false
				}
			},
 		]
	],
	"plugins" : [
		[
			"@babel/plugin-transform-runtime",
			{
				"polyfill" : false
			}
		]
	]
}